---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Profile</div>
    </div>

    <div class="mb-10 text-justify">
        I am an experienced Software Engineer with a background in the machinery industry. I completed my Bachelor of
        Technology (BTech) degree from the Kalinga Institute of Industrial Technology focused on information technology.
        Skilled in Python, Java, C, C++ and MySQL.
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Education</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
        <TimeLineElement
                title="Information Technology"
                subtitle="2013 to 2017 at KIIT, Bhubaneswar, India"
        />
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Experience</div>
    </div>

    <div class="time-line-container mb-10">
        <TimeLineElement title="Software Engineer at Zeeko Ltd."
                         subtitle="From May 2023 to Current at Zeeko Ltd., Coalville, UK">

            Worked on ZephyrCAM Software to develop modern CAD/CAM software for Zeeko IRP and other 5-axis CNC milling
            and grinding machines. Worked on improving the software User Interface (UI/UX) to make the software more
            user-friendly. Wrapped and compiled various C/C++ libraries for Python on Windows 32/64-bit OS
        </TimeLineElement>
        <TimeLineElement title="Software Engineer at Zeeko Ltd."
                         subtitle="From October 2020 to May 2023 at Zeeko Ltd., Kyoto, Japan">

            Worked on ZephyrCAM Software to develop modern CAD/CAM software for Zeeko IRP and other 5-axis CNC milling
            and grinding machines. Worked on improving the software User Interface (UI/UX) to make the software more
            user-friendly. Wrapped and compiled various C/C++ libraries for Python on Windows 32/64-bit OS
        </TimeLineElement>
        <TimeLineElement title="Researcher at Kyoto University, Japan"
                         subtitle="From October 2019 to September 2020 at Kyoto University, Kyoto, Japan">

            I worked on System Development and Testing of the On-Machine Characterization Lab to create a new way of
            measuring the surface quality of any material on a Robodrill Machine. Worked on ZephyrCAM Software to
            improve the software User Interface (UI/UX) to make the software more user-friendly.
        </TimeLineElement>
        <TimeLineElement title="Research Assistant at Kyoto University, Japan"
                         subtitle="From April 2019 to September 2019 at Kyoto University, Kyoto, Japan">

            I worked on System Development and Testing of the On-Machine Characterization Lab to create a new way of
            measuring the surface quality of any material on a Robodrill Machine so that it can measure the roughness
            and topography of any material directly on the machine.
        </TimeLineElement>
        <TimeLineElement title="Software Contractor (Software Development using Python)"
                         subtitle="From June 2018 to March 2019 at Zeeko Ltd., Coalville, UK">

            I worked on System Development and Testing of the On-Machine Characterization Lab to create a new way of
            measuring the surface quality of any material on a Robodrill Machine so that it can measure the roughness
            and topography of any material directly on the machine.
        </TimeLineElement>
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Skills</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Python</li>
        <li>C++</li>
        <li>Core Java</li>
        <li>MySQL</li>
        <li>Basic Android</li>
        <li>HTML</li>
        <li>Firebase</li>
        <li>Word</li>
        <li>Excel</li>
        <li>Power Point</li>
        <li>Windows</li>
        <li>Ubuntu</li>
    </ul>
</BaseLayout>
