---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Profile</div>
    </div>

    <div class="mb-10 text-justify">
        I am an experienced Software Engineer with a background in the machinery industry. I completed my Bachelor of
        Technology (BTech) degree from the Kalinga Institute of Industrial Technology focused on information technology.
        Skilled in Python, Java, C, C++ and MySQL.
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Education</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
        <TimeLineElement
                title="Information Technology"
                subtitle="2013 to 2017 at KIIT, Bhubaneswar, India"/>
        <TimeLineElement
                title="All India Senior Secondary Certificate Examination"
                subtitle="2011 to 2013 at Sunbeam English School Bhagwanpur, Uttar Pradesh, India"/>
        <TimeLineElement
                title="All India Secondary School Examination"
                subtitle="2009 to 2011 at Sunbeam English School Bhagwanpur, Uttar Pradesh, India"/>
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Experience</div>
    </div>

    <div class="time-line-container mb-10">
        <TimeLineElement title="Software Engineer at Zeeko Ltd."
                         subtitle="From May 2023 to Current at Zeeko Ltd., Coalville, UK">

            Worked on ZephyrCAM Software to develop modern CAD/CAM software for Zeeko IRP and other 5-axis CNC milling
            and grinding machines. Worked on improving the software User Interface (UI/UX) to make the software more
            user-friendly. Wrapped and compiled various C/C++ libraries for Python on Windows 32/64-bit OS
        </TimeLineElement>
        <TimeLineElement title="Software Engineer at Zeeko Ltd."
                         subtitle="From October 2020 to May 2023 at Zeeko Ltd., Kyoto, Japan">

            Worked on ZephyrCAM Software to develop modern CAD/CAM software for Zeeko IRP and other 5-axis CNC milling
            and grinding machines. Worked on improving the software User Interface (UI/UX) to make the software more
            user-friendly. Wrapped and compiled various C/C++ libraries for Python on Windows 32/64-bit OS
        </TimeLineElement>
        <TimeLineElement title="Researcher at Kyoto University, Japan"
                         subtitle="From October 2019 to September 2020 at Kyoto University, Kyoto, Japan">

            I worked on System Development and Testing of the On-Machine Characterization Lab to create a new way of
            measuring the surface quality of any material on a Robodrill Machine. Worked on ZephyrCAM Software to
            improve the software User Interface (UI/UX) to make the software more user-friendly.
        </TimeLineElement>
        <TimeLineElement title="Research Assistant at Kyoto University, Japan"
                         subtitle="From April 2019 to September 2019 at Kyoto University, Kyoto, Japan">

            I worked on System Development and Testing of the On-Machine Characterization Lab to create a new way of
            measuring the surface quality of any material on a Robodrill Machine so that it can measure the roughness
            and topography of any material directly on the machine.
        </TimeLineElement>
        <TimeLineElement title="Software Contractor (Software Development using Python)"
                         subtitle="From June 2018 to March 2019 at Zeeko Ltd., Coalville, UK">

            I worked on System Development and Testing of the On-Machine Characterization Lab to create a new way of
            measuring the surface quality of any material on a Robodrill Machine so that it can measure the roughness
            and topography of any material directly on the machine.
        </TimeLineElement>
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Skills</div>
    </div>

    <ul class="list-disc md:columns-3 columns-2 mx-6 text-lg [&>li]:flex [&>li]:items-center [&>li]:space-x-2 [&>svg]:inline-block [&>svg]:fill-current">
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 style="fill: currentColor;">
                <path d="M9.585 11.692h4.328s2.432.039 2.432-2.35V5.391S16.714 3 11.936 3C7.362 3 7.647 4.983 7.647 4.983l.006 2.055h4.363v.617H5.92s-2.927-.332-2.927 4.282 2.555 4.45 2.555 4.45h1.524v-2.141s-.083-2.554 2.513-2.554zm-.056-5.74a.784.784 0 1 1 0-1.57.784.784 0 1 1 0 1.57z"></path>
                <path d="M18.452 7.532h-1.524v2.141s.083 2.554-2.513 2.554h-4.328s-2.432-.04-2.432 2.35v3.951s-.369 2.391 4.409 2.391c4.573 0 4.288-1.983 4.288-1.983l-.006-2.054h-4.363v-.617h6.097s2.927.332 2.927-4.282-2.555-4.451-2.555-4.451zm-3.981 10.436a.784.784 0 1 1 0 1.57.784.784 0 1 1 0-1.57z"></path>
            </svg>
            <span>Python</span>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 style="fill: currentColor;">
                <path d="M20.66 7a1.51 1.51 0 0 0-.55-.57l-7.34-4.24a1.67 1.67 0 0 0-1.54 0L3.89 6.43a1.68 1.68 0 0 0-.77 1.33v8.48a1.57 1.57 0 0 0 .22.76 1.51 1.51 0 0 0 .55.57l7.34 4.24a1.67 1.67 0 0 0 1.54 0l7.34-4.24a1.51 1.51 0 0 0 .55-.57 1.57 1.57 0 0 0 .22-.76V7.76a1.57 1.57 0 0 0-.22-.76zM12 17.92A5.92 5.92 0 1 1 17.13 9L16 9.71l-.36.2-1 .61A3 3 0 0 0 9 12a2.88 2.88 0 0 0 .4 1.48 3 3 0 0 0 5.13 0l2.6 1.52A5.94 5.94 0 0 1 12 17.92zm5.92-5.59h-.66V13h-.65v-.66H16v-.66h.66V11h.65v.66h.66zm2.47 0h-.66V13h-.66v-.66h-.65v-.66h.65V11h.66v.66h.66z"></path>
            </svg>
            <span>C++</span>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 style="fill: currentColor;">
                <path d="M9.37 17.51c-3.09.86 1.87 2.64 5.8 1a7.18 7.18 0 0 1-1.1-.54 11.59 11.59 0 0 1-4.16.18c-1.31-.15-.54-.64-.54-.64zm5.33-1.68a16.27 16.27 0 0 1-5.36.26c-1.31-.14-.45-.77-.45-.77-3.4 1.12 1.89 2.4 6.64 1a2.25 2.25 0 0 1-.83-.49zm1.82-9.73s-6.87 1.71-3.59 5.49a1.47 1.47 0 0 1-.25 2.12s2.46-1.27 1.33-2.86-1.86-2.22 2.51-4.75z"></path>
                <path d="M18.13 19.14s.56.46-.63.82c-2.27.69-9.43.9-11.42 0-.72-.31.62-.74 1-.83a2.54 2.54 0 0 1 .69-.08c-.8-.56-5.15 1.1-2.21 1.58 8.05 1.37 14.64-.56 12.57-1.49zm-2.76-4.88a7 7 0 0 1 .92-.49s-1.51.27-3 .4a28.11 28.11 0 0 1-4.82.05C6.09 13.91 9.74 13 9.74 13a6.81 6.81 0 0 0-3.16.75c-2.06 1.03 5.09 1.48 8.79.51zm.91 2.44a.39.39 0 0 1-.08.09c5-1.32 3.18-4.65.78-3.81a.71.71 0 0 0-.33.25s.14-.05.43-.12c1.22-.25 2.92 1.63-.8 3.59zM12 13c-.74-1.67-3.26-3.14 0-5.71C16.09 4.08 14 2 14 2c.84 3.31-3 4.31-4.34 6.37-.93 1.41.47 2.92 2.34 4.63z"></path>
                <path d="M16.41 21.32a29.75 29.75 0 0 1-9.14.14s.46.38 2.84.53c3.61.23 9.15-.12 9.29-1.83 0 0-.26.64-2.99 1.16z"></path>
            </svg>
            <span>Core Java</span>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 style="fill: currentColor;">
                <path d="M20 6c0-2.168-3.663-4-8-4S4 3.832 4 6v2c0 2.168 3.663 4 8 4s8-1.832 8-4V6zm-8 13c-4.337 0-8-1.832-8-4v3c0 2.168 3.663 4 8 4s8-1.832 8-4v-3c0 2.168-3.663 4-8 4z"></path>
                <path d="M20 10c0 2.168-3.663 4-8 4s-8-1.832-8-4v3c0 2.168 3.663 4 8 4s8-1.832 8-4v-3z"></path>
            </svg>
            <span>MySQL</span>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 style="fill: currentColor;">
                <path d="M18.344 8.71c-.707 0-1.279.572-1.279 1.278v4.53a1.278 1.278 0 1 0 2.558 0v-4.53c0-.706-.572-1.278-1.279-1.278zm-12.688 0c-.707 0-1.279.572-1.279 1.278v4.53a1.278 1.278 0 1 0 2.558 0v-4.53A1.277 1.277 0 0 0 5.656 8.71zm8.889-3.809.768-1.388a.343.343 0 0 0-.133-.47.344.344 0 0 0-.471.135l-.789 1.42c-.588-.235-1.236-.368-1.92-.368s-1.332.132-1.92.367l-.789-1.418a.344.344 0 0 0-.471-.135.345.345 0 0 0-.133.47l.768 1.388C8.072 5.69 7.148 7.099 7.148 8.71c0 .011 0 .021.002.034-.002.006-.002.013-.002.019v.001h9.703V8.71c.001-1.611-.923-3.019-2.306-3.809zM9.76 6.869a.346.346 0 1 1 .005-.693.346.346 0 0 1-.005.693zm4.48 0a.347.347 0 0 1 0-.692.346.346 0 0 1 0 .692zM7.148 16.12c0 .646.525 1.171 1.174 1.171h.586v2.401a1.279 1.279 0 0 0 2.558 0v-2.401h1.066v2.401c0 .707.572 1.278 1.277 1.278.709 0 1.281-.571 1.281-1.278v-2.401h.586c.648 0 1.174-.524 1.174-1.171V9.028H7.148v7.092z"></path>
            </svg>
            <span>Android</span>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 style="fill: currentColor;">
                <path d="M4.136 3.012h15.729l-1.431 16.15-6.451 1.826-6.414-1.826-1.433-16.15zm5.266 7.302-.173-2.035 7.533.002.173-1.963-9.87-.002.522 5.998h6.835l-.243 2.566-2.179.602-2.214-.605-.141-1.58H7.691l.247 3.123L12 17.506l4.028-1.08.558-6.111H9.402v-.001z"></path>
            </svg>
            <span>HTML</span>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 style="fill: currentColor;">
                <path d="M5.239 15.063 7.21 2.381a.453.453 0 0 1 .847-.145l2.12 3.979-4.938 8.848zM19.24 18.14 17.363 6.469a.454.454 0 0 0-.766-.246L4.76 18.14l6.55 3.691c.411.23.912.23 1.323 0l6.607-3.691zM13.917 7.955 12.4 5.052a.452.452 0 0 0-.8 0L4.939 16.989l8.978-9.034z"></path>
            </svg>
            <span>Firebase</span>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 31.519 31.519"
                 style="fill: currentColor;">
                <path d="M11.184,0L3.021,8.619v22.9h25.477V0H11.184z M10.463,3.624v3.819H6.847L10.463,3.624z M26.528,29.55H4.991V9.413h7.443 V1.97h14.094V29.55z"></path>
                <path d="M13.5,15.211c0.127,0.046,0.238,0.111,0.335,0.197c0.102,0.095,0.196,0.213,0.278,0.351 c0.095,0.16,0.188,0.345,0.268,0.532l0.62,1.764l-1.68,4.828l-2.107-6.003c-0.135-0.372-0.235-0.679-0.296-0.92 c-0.079-0.3-0.085-0.408-0.085-0.435c0-0.102,0.036-0.178,0.127-0.256c0.096-0.085,0.271-0.129,0.506-0.129h0.59v-1.079H6.701 v1.079h0.37c0.3,0,0.538,0.043,0.688,0.125c0.144,0.079,0.257,0.198,0.346,0.367c0.039,0.072,0.158,0.363,0.502,1.32l3.794,10.6 h0.852l2.564-7.236l2.579,7.236h0.891l3.564-10.303c0.322-0.982,0.479-1.342,0.549-1.469c0.076-0.136,0.155-0.248,0.232-0.336 c0.065-0.074,0.137-0.135,0.209-0.179c0.074-0.044,0.154-0.075,0.244-0.095c0.102-0.021,0.225-0.032,0.361-0.032h0.37v-1.079 h-4.461v1.079h0.368c0.352,0,0.634,0.048,0.84,0.142c0.124,0.058,0.169,0.127,0.169,0.271c0,0.135-0.051,0.503-0.383,1.462 l-2.028,5.868l-2.035-5.779c-0.327-0.913-0.394-1.327-0.394-1.515c0-0.2,0.064-0.284,0.115-0.33 c0.046-0.045,0.174-0.117,0.508-0.117h0.7v-1.079h-5.595v1.079h0.369C13.194,15.142,13.368,15.164,13.5,15.211z"></path>
            </svg>
            <span>Word</span>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 31.425 31.426"
                 style="fill: currentColor;">
                <path d="M11.15,0L3.011,8.592v22.834h25.403V0H11.15z M10.434,3.613v3.808H6.826L10.434,3.613z M26.449,29.462H4.977V9.385h7.421 V1.964h14.053v27.498H26.449z"></path>
                <path d="M15.004,14.766h0.491v-1.768H9.444v1.768h0.737c0.202,0,0.402,0.055,0.617,0.168c0.203,0.107,0.396,0.306,0.572,0.585 l2.919,4.738l-2.939,4.21c-0.16,0.229-0.306,0.421-0.438,0.576c-0.113,0.133-0.228,0.242-0.337,0.321 c-0.098,0.07-0.198,0.119-0.307,0.148c-0.127,0.034-0.282,0.051-0.462,0.051H9.198v1.769h5.438v-1.276l-0.055-0.49H14.09 c-0.449,0-0.643-0.057-0.724-0.094c0-0.053,0.01-0.115,0.028-0.186c0.024-0.088,0.055-0.176,0.095-0.264 c0.043-0.097,0.087-0.188,0.138-0.279c0.046-0.084,0.091-0.159,0.139-0.229l1.65-2.44l1.769,2.843 c0.068,0.114,0.123,0.209,0.159,0.289c0.036,0.077,0.05,0.121,0.054,0.139l0.013,0.108c0,0-0.112,0.113-0.625,0.113h-0.592v1.768 h6.033v-1.768h-0.729c-0.144,0-0.3-0.052-0.464-0.151c-0.133-0.08-0.35-0.259-0.616-0.613l-3.272-5.259l2.529-3.646 c0.164-0.238,0.314-0.437,0.452-0.594c0.125-0.142,0.246-0.26,0.362-0.349c0.092-0.069,0.182-0.116,0.272-0.142 c0.104-0.03,0.226-0.045,0.361-0.045h0.655v-1.768h-5.074v1.277l0.055,0.491h0.491c0.125,0,0.237,0.006,0.341,0.02 c0.091,0.011,0.145,0.029,0.173,0.029h0.001c0,0.1-0.027,0.213-0.085,0.336c-0.075,0.168-0.176,0.346-0.301,0.535l-1.349,2.051 l-1.287-2.08c-0.095-0.15-0.17-0.276-0.222-0.375c-0.047-0.09-0.083-0.168-0.107-0.231c-0.017-0.046-0.029-0.087-0.033-0.113 c-0.006-0.039-0.009-0.08-0.031-0.089c0.002-0.001,0.042-0.025,0.162-0.049C14.628,14.776,14.775,14.766,15.004,14.766z"></path>
            </svg>
            <span>Excel</span>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 31.444 31.444"
                 style="fill: currentColor;">
                <path d="M11.158,0L3.015,8.598v22.846H28.43V0H11.158z M10.439,3.617v3.81H6.832L10.439,3.617z M26.465,29.479H4.979V9.391h7.425 V1.965h14.06V29.479z"></path>
                <path d="M10.871,14.755h0.864c0.391,0,0.667,0.099,0.842,0.297c0.018,0.021,0.174,0.236,0.174,1.303v8.494 c0,0.938-0.105,1.18-0.134,1.228c-0.077,0.119-0.183,0.207-0.321,0.269c-0.153,0.069-0.343,0.104-0.562,0.104h-0.863v1.097h6.373 V26.45h-0.873c-0.39,0-0.663-0.099-0.843-0.306c-0.017-0.02-0.177-0.228-0.177-1.295v-3.379c1.518,0.283,2.719,0.244,3.693-0.101 c0.546-0.192,1.019-0.47,1.402-0.821c0.385-0.357,0.682-0.785,0.879-1.275c0.2-0.484,0.299-1.026,0.299-1.607 c0-0.439-0.07-0.854-0.211-1.232c-0.138-0.377-0.332-0.725-0.573-1.037c-0.241-0.309-0.526-0.577-0.843-0.804 c-0.316-0.225-0.662-0.407-1.029-0.542c-0.723-0.259-1.701-0.389-2.908-0.389h-5.189V14.755z M15.351,15.291 c0.138-0.029,0.267-0.052,0.386-0.068c0.623-0.088,1.057-0.033,1.479,0.137c0.289,0.115,0.545,0.287,0.76,0.51 c0.217,0.227,0.389,0.507,0.514,0.835c0.125,0.334,0.188,0.724,0.188,1.155c0,0.359-0.059,0.693-0.172,0.99 c-0.117,0.301-0.273,0.561-0.465,0.774c-0.188,0.209-0.414,0.376-0.666,0.494c-0.407,0.188-0.794,0.206-1.43,0.128 c-0.177-0.021-0.375-0.052-0.593-0.089V15.291z"></path>
            </svg>
            <span>Power Point</span>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                 style="fill: currentColor;">
                <path d="m3 5.557 7.357-1.002.004 7.097-7.354.042L3 5.557zm7.354 6.913.006 7.103-7.354-1.011v-6.14l7.348.048zm.892-8.046L21.001 3v8.562l-9.755.077V4.424zm9.758 8.113-.003 8.523-9.755-1.378-.014-7.161 9.772.016z"></path>
            </svg>
            <span>Windows</span>
        </li>
        <li>
            <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                 style="fill: currentColor;">
                <path d="m12.004 0c-.024 0-.052 0-.081 0-1.661 0-3.242.345-4.674.968l.076-.029c-1.482.637-2.748 1.503-3.815 2.568-1.064 1.067-1.93 2.333-2.538 3.737l-.03.078c-.593 1.356-.939 2.937-.939 4.598v.085-.004.081c0 1.661.345 3.242.968 4.674l-.029-.076c.636 1.482 1.501 2.747 2.565 3.815 1.067 1.064 2.333 1.931 3.737 2.538l.078.03c1.356.593 2.937.939 4.598.939h.089-.005.081c1.661 0 3.242-.345 4.674-.968l-.076.029c1.482-.637 2.748-1.503 3.815-2.568 1.064-1.067 1.931-2.333 2.538-3.737l.03-.078c.593-1.356.938-2.936.938-4.596 0-.029 0-.058 0-.087v.004c0-.024 0-.052 0-.081 0-1.661-.345-3.242-.968-4.674l.029.076c-.637-1.482-1.503-2.748-2.568-3.815-1.067-1.064-2.333-1.93-3.737-2.538l-.078-.03c-1.356-.593-2.936-.938-4.596-.938-.029 0-.059 0-.088 0h.004zm2.691 4.123c.203-.366.543-.634.949-.738l.011-.002c.126-.036.27-.057.419-.057.302 0 .583.086.822.234l-.007-.004c.366.203.634.543.738.949l.002.011c.037.124.058.265.058.412 0 .296-.086.571-.235.803l.004-.006c-.203.366-.543.634-.949.738l-.01.002c-.129.039-.278.061-.432.061-.287 0-.555-.078-.785-.213l.007.004c-.366-.203-.634-.543-.738-.949l-.002-.011c-.038-.131-.06-.282-.06-.439 0-.292.077-.566.213-.803l-.004.008zm-2.691.913h.017c.329 0 .653.022.97.066l-.037-.004c.347.047.652.112.949.196l-.047-.012c.053.346.179.655.363.921l-.005-.007c.196.285.448.517.742.685l.011.006c.274.156.598.258.943.284h.007c.053.005.115.007.177.007.278 0 .544-.053.788-.148l-.015.005c.584.571 1.069 1.24 1.426 1.983l.018.042c.355.728.582 1.579.629 2.477l.001.016-2.272.025c-.111-1.206-.668-2.264-1.502-3.021l-.004-.003c-.802-.772-1.895-1.248-3.098-1.248-.022 0-.044 0-.066 0h.003c-.001 0-.001 0-.002 0-.363 0-.716.045-1.053.13l.03-.006c-.367.089-.683.198-.986.334l.035-.014-1.111-2c.421-.215.91-.397 1.422-.522l.046-.009c.475-.115 1.02-.182 1.58-.182h.04-.002zm-8.151 8.569c-.007 0-.016 0-.024 0-.436 0-.83-.181-1.111-.471-.291-.282-.472-.676-.472-1.113 0-.008 0-.016 0-.025v.001c0-.008 0-.017 0-.026 0-.435.18-.828.469-1.109.281-.289.675-.469 1.11-.469h.028-.001.017c.431 0 .821.18 1.097.468l.001.001c.289.281.469.675.469 1.11v.028-.001.026c0 .435-.18.828-.469 1.109-.277.291-.668.471-1.1.471-.004 0-.008 0-.012 0h.001zm1.407.148c.246-.215.449-.473.598-.763l.007-.014c.148-.28.234-.613.234-.965 0-.003 0-.007 0-.01v.001c0-.003 0-.006 0-.01 0-.353-.087-.685-.24-.977l.006.012c-.156-.304-.359-.562-.602-.775l-.003-.003c.225-.876.595-1.643 1.087-2.315l-.013.019c.503-.689 1.104-1.27 1.79-1.737l.025-.016 1.16 1.975c-.595.435-1.08.983-1.432 1.616l-.013.025c-.349.619-.555 1.358-.555 2.146v.041-.002.04c0 .786.201 1.525.555 2.168l-.012-.023c.361.664.851 1.213 1.442 1.632l.015.01-1.161 1.976c-.711-.482-1.312-1.064-1.801-1.732l-.014-.02c-.479-.653-.849-1.42-1.063-2.25l-.01-.046zm11.628 6.69c-.23.144-.509.23-.808.23-.148 0-.29-.021-.425-.06l.011.003c-.418-.112-.761-.379-.971-.733l-.004-.007c-.131-.229-.209-.503-.209-.795 0-.156.022-.308.063-.451l-.003.011c.107-.417.375-.757.733-.956l.008-.004c.223-.132.491-.209.778-.209.154 0 .302.022.443.064l-.011-.003c.417.107.757.375.956.733l.004.008c.145.226.231.501.231.797 0 .147-.021.289-.061.423l.003-.011c-.106.416-.373.756-.73.956zm-.024-3.481c-.23-.091-.495-.143-.773-.143-.062 0-.124.003-.185.008l.008-.001c-.352.026-.676.128-.961.29l.011-.006c-.304.174-.556.406-.748.684l-.005.008c-.179.259-.306.568-.357.901l-.002.012c-.249.073-.554.138-.866.181l-.035.004c-.28.039-.604.062-.933.062-.006 0-.012 0-.018 0h.001c-.007 0-.016 0-.024 0-.565 0-1.115-.067-1.641-.195l.048.01c-.559-.134-1.048-.316-1.507-.549l.039.018 1.111-2c.267.121.584.231.912.312l.038.008c.307.078.66.123 1.023.123h.002.062c1.203 0 2.296-.476 3.1-1.249l-.001.001c.839-.762 1.397-1.821 1.505-3.01l.001-.018 2.272.025c-.047.914-.274 1.765-.647 2.532l.017-.039c-.376.787-.861 1.458-1.445 2.029l-.001.001z"></path>
            </svg>
            <span>Ubuntu</span>
        </li>
    </ul>
</BaseLayout>
